<div >
    <h1>DiffB64 Project</h1>
    <p class="lead">This project provides a web API to compare two Base64 encoded strings.</p>
</div>

<div >
    <h2>How to Use:</h2>
    <p>Use Http Put method to put 2 http endpoints (/v1/diff//left and /v1/diff//right) that accept 
    JSON containing base64 encoded binary data.</p>
    <p>
        Use Http Get method to get the diff-ed results of the two inputs on a third endpoint (/v1/diff/).
    </p>
</div>
